Image with text

<div class="margin-cls">
  <div class="main-personal-text">
  
  <div class="personal-text">
    
    <div class="only-text fade-up animated fadeInUp cls-asap">
      
      <h2> {{ section.settings.heading }} </h2>
      <p class="natuepera"> {{ section.settings.text }} </p>
    <div class="appear-delay-2">
                 <a href="{{ section.settings.button_link }}" class="btn">
                   {{ section.settings.button_label }}
                 </a>
               </div>
    </div>
     <div class="basic_structure2">
          <div class="we_basic_box_image">
             <div class="nutri-wipe" data-scroll="in" data-aos="flip-left">
    <div class="cls only-image">
      
      <img src="{{ section.settings.image | img_url:'master' }}">
    
    </div>
              
            </div>
       </div>
    </div>
  </div>
  </div>

</div>




{% schema %}
  {
    "name": "Personal Texts",
    "settings": [
{
"id" : "heading",
"type" : "text",
"label" : "Heading"
},
{
"id" : "text",
"type" : "text",
"label" : "Text"
},
{
"id" : "image",
"type" : "image_picker",
"label" : "Image"
},
{
"type": "text",
"id": "button_label",
"label": "Button label"
},
{
"type": "url",
"id": "button_link",
"label": "Button link"
}
],
"presets" : [
{
"name" : "Personal Texts"
}
]
  }
{% endschema %}



<style>
  .margin-cls{
    padding-left:5%;
    padding-right:5%;
    padding-top:5%;
  }
  .main-personal-text{
    max-width:1170px;
    width:100%;
    margin:auto;
  }
  .personal-text{
    display:flex;
    width:100%;
  }
  .only-text{
    width:48%;
    margin:auto;
    padding-right:1%;
  }
  .only-text h2{
    font-size: 30px;
    margin-bottom: 0;
  }
  .natuepera{
    font-size: 16px;
  }
  .basic_structure2{
    width: 49%;
  }	
  .only-text.fade-up.animated.fadeInUp.cls-asap:nth-child(1) {
    order: 2;
  }

  @media(max-width:600px){
    h2.bannetitle {
    font-size: 30px !important;
	}
    p.bannerparegraph {
      font-size: 16px;
    }
    .personal-text{
      display:block;
    }
    .only-text{
      width:100%;
      padding:0;
    }
    .only-image{
      width:100%;
    }
    .only-text h2{
      font-size:30px;
      text-align:center;
    }
    .basic_structure2 {
      width: 100%;
    }
  }
  
</style>